<%= render 'partials/form_input' %>

<h3>Результаты поиска по запросу <em><%= params[:query]%></em></h3>
<% @search_results.each do |result| %>
  <h4><%= link_to result.name, result %></h4>
  <div><%= result.information.html_safe %></div>
  <hr>
<% end %>
